<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Apartment details</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment = "body">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder"th:text="${apartmentNumber}"></h1>
            <p class="lead mb-0">Apartment details</p>
        </div>
    </div>
    </header>
    <div class="container">
        <div class="row">

            <div class="col-lg-8">

                </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">

                        <h2>Apartment information</h2>
                        <div  class="card mb-4">
                            <div class="card-body">
                                <p class="card-text" th:text="${'Apartment number: ' + apartment.apartmentNumber}"></p>
                                <p class="card-text" th:text="${'Owners first name: ' + apartment.ownersFirstName}"></p>
                                <p class="card-text" th:text="${'Owners last name: ' + apartment.ownersLastName}"></p>
                                <p class="card-text" th:text="${'Owners phone number: ' + apartment.ownersPhone}"></p>
                                <p class="card-text" th:text="${'Owners email: ' + apartment.ownersEmail}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>