<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Information</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment = "body">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder"th:text="${information.infoTitle}"></h1>
            <p class="lead mb-0">Information details</p>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-8">

            </div>
        </div>
        <div class="row">
            <div class="text">
                <div  class="text">
                    <div class="text">
                        <h2 th:text="${information.infoTitle}"></h2>
                        <br>
                        <p class="text" th:text="${information.infoContent}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</section>
</body>
</html>