<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Insert Water Usage</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Gas Usage</h1>
        </div>
        <div class="container">
            <form role="form" method="post"
                  th:action="@{/api/apartmentData/add}"
                  th:object="${apartmentData}">
                <div class="form-group">
                    <div class="form-group col-md-3">
                        <label for="hotWaterUsage"><b>Gas</b></label>
                        <input type="text"
                               class="form-control"
                               id="hotWaterUsage"
                               name="hotWaterUsage"
                               th:field="*{apartmentNumber}"
                               placeholder="Insert the gauge reading">
                        <!--<p th:if="${#fields.hasErrors('apartmentNumber')}" class="text-danger"
                           th:errors="*{apartmentNumber}"></p>-->
                        <br>
                    </div>

<!--                    <div class="form-group col-md-3">
                        <label for="endTime">EndTime</label>
                        <input
                                type="datetime-local"
                                class="form-control"
                                id="endTime"
                                name = "endTime"
                                th:field = "*{endTime}"
                                placeholder="EndTime">
                        <p th:if="${#fields.hasErrors('endTime')}" class="text-danger"
                           th:errors="*{endTime}"></p>
                    </div>-->
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </section>

</main>

</body>
</html>