<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Apartment utilities</title>
</head>
<body class="d-flex flex-column">

<section layout:fragment = "body">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder" th:text="${apartmentNumber}"></h1>
            <p class="lead mb-0">Utilities usage</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h2>Usage</h2>
                <div  class="card mb-4">
                    <div class="card-body">
                        <p class="card-text" th:text="${'Date: ' + apartmentData.date}"></p>
                        <p class="card-text" th:text="${'Hot water usage: ' +  apartmentData.hotWaterUsage + ' m3'}"></p>
                        <p class="card-text" th:text="${'Cold water usage: ' + apartmentData.coldWaterUsage + ' m3'}"></p>
                        <p class="card-text" th:text="${'Gas usage: ' + apartmentData.gasUsage + ' m3'}"></p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>